
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.mypy_cache/
.pytest_cache/

# Django specific
db.sqlite3
*.log
media/
staticfiles/

# IDE specific
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
